<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff</title>
    <link rel="stylesheet" href="staff.css">
</head>
<body>
    <h1>STAFF</h1>
    <div class="staff_BN">
        <img src="/images/Mrs. Samalie.jpg" alt="admin" class="staff-BN">
        <h2 class="BN">
            Administrator
        </h2>
        <p>
            Mrs.Samalie Nakanyagi is a
        </p>
    </div>
    <div class="staff AP">
        <img src="/images/Mrs.Pamella.jpg" alt="school principle" class="staff AP">
        <h2 class="SP">
            School Principle
        </h2>
    </div>
    <div staff director>
        <img src="/images/Mrs. Sarah.jpg" alt="managing director" class="staff MD">
        <h2 class="MD">
            Managing Director
        </h2>
    </div>
    <div class="s&i director">
        <img src="/images/Rev.Alex Abraham.jpg" alt=" SI director">
        <h2 class="SI">
            Spiritual and Innovations Director
        </h2>
    </div>
</body>